* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.grid-container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "nav"
        "filtros"
        "main"
        "footer";
}

.nav {
    grid-area: nav;
    background-color: royalblue;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: none;
}

.filtros {
    grid-area: filtros;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background: #eee;
    padding: .8rem;
    border-radius: .5rem;
    margin: 1rem;
}

.filtros select {
    padding: .3rem .5rem;
    border-radius: .3rem;
    border: 1px solid #aaa;
}


.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #ddd;
    border-radius: 10px;
    background-color: #fff;
    padding: 1rem;
    text-align: center;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.card button {
    background: royalblue;
    color: white;
    border: none;
    padding: .5rem 1rem;
    border-radius: .3rem;
    cursor: pointer;
}

.card button:hover {
    background: navy;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
}

.pagination a {
    padding: .5rem .8rem;
    border: 1px solid royalblue;
    border-radius: .3rem;
    color: royalblue;
    text-decoration: none;
}

.pagination a:hover {
    background: royalblue;
    color: white;
}

.footer {
    grid-area: footer;
    background-color: navy;
    color: white;
    text-align: center;
    padding: 1rem;
}

.footer i {
    margin: 0 .5rem;
    font-size: 1.2rem;
}

/* === LAYOUT ESCRITORIO === */
@media (min-width: 576px) {
    .nav {
        flex-direction: column;
        justify-content: start;
        gap: 40px;
    }

    .nav i {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .grid-container {
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr 9fr;
        grid-template-areas:
            "nav filtros"
            "nav main"
            "footer main";
    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
        max-width: 95%;
        height: 85%;
    }
}